
<div class="mothe">

<div class="details2">



    <div *ngIf="food" class="container">
        <img [src]="shoes.imageUrl" [alt]="shoes.name">
        
    </div>

    
</div>


<div class="details">
    <div class="header">
        <span class="name">
            {{shoes.name}}
        </span>
 
    </div>


    
    <div class="origins">
        <span *ngFor="let origin of food.origins">
           {{origin}} 
        </span>
    </div>
    <div class="tags">
        <app-tags [foodPageTags]="food.tags" justifyContent="start"> </app-tags>
    </div>
    <div class="price">
        <span>
            {{shoes.price | currency}}
        </span>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
</div>
</div>
